<section class="akreditasi-section">
    <div class="container">
      <div class="akreditasi-content">
        <div class="akreditasi-image">
          <a
            href="component/SERTIFIKAT AKREDITASI S1 TEKNIK INFORMATIKA UNGGUL  2024.pdf"
            target="_blank"
          >
            <img
              src="img/SERTIFIKAT AKREDITASI S1 TEKNIK INFORMATIKA UNGGUL  2024.jpg"
              alt="Sertifikat Akreditasi Teknik Informatika UKSW"
            />
          </a>
        </div>
        <div class="akreditasi-text">
          <h2>Akreditasi Program Studi</h2>
          <p>
            Berdasarkan Keputusan LAM INFOKOM No.
            086/SK/LAM-INFOKOM/Ak/S/VIII/2024, Program Studi Teknik
            Informatika UKSW telah mendapatkan status:
          </p>
          <p class="akreditasi-note">
            Klik pada gambar sertifikat untuk melihat versi PDF lengkap.
          </p>
        </div>
      </div>
    </div>
  </section>