<footer>
    <div class="container">
      <div class="footer-content">
        <div class="footer-logo">
          <img src="img/Logo FTI.png" alt="Logo FTI UKSW" />
        </div>

        <div class="footer-address">
          <h3>Fakultas Teknologi Informasi</h3>
          <p>Gedung Fakultas Teknologi Informasi</p>
          <p>Kampus III Universitas Kristen Satya Wacana</p>
          <p>Jl. Dr. O. Notohamidjojo</p>
          <p>Blotongan, Sidorejo, Kota Salatiga, 50715</p>
          <p>Indonesia</p>
          <p><a href="mailto:fti@uksw.edu">fti@uksw.edu</a></p>
        </div>

        <div class="footer-resources">
          <h3>University Resources</h3>
          <ul>
            <li>
              <a href="https://uksw.edu"
                >Website Universitas Kristen Satya Wacana</a
              >
            </li>
            <li>
              <a href="https://siasat.uksw.edu"
                >Sistem Informasi Akademik Satya Wacana</a
              >
            </li>
            <li>
              <a href="https://library.uksw.edu">Perpustakaan Universitas</a>
            </li>
            <li>
              <a href="https://flearn.uksw.edu">Flexible Learning UKSW</a>
            </li>
            <li>
              <a href="https://ejournal.uksw.edu/aiti"
                >Jurnal AITI Fakultas Teknologi Informasi</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">
        <p>
          &copy; 2003 Fakultas Teknologi Informasi Universitas Kristen Satya
          Wacana
        </p>
      </div>
    </div>
  </footer>