<section class="kerja-sama">
    <h2>Kerja Sama</h2>
    <div class="partner-logos">
      <a
        href="https://www.alfamart.co.id/"
        target="_blank"
        class="partner-logo"
      >
        <img
          src="../../public/img/logo_alfamart_transparent.png"
          alt="Alfamart Logo"
        />
      </a>
      <a
        href="https://computradetech.com/id/beranda/"
        target="_blank"
        class="partner-logo"
      >
        <img src="../../public/img/logo_CTI.png" alt="CTI Group Logo" />
      </a>
      <a
        href="https://www.puragroup.com/"
        target="_blank"
        class="partner-logo"
      >
        <img src="../../public/img/logo_pura_lingkaran.png" alt="Pura Barutama Logo" />
      </a>
      <a
        href="https://www.sinarmasland.com/"
        target="_blank"
        class="partner-logo"
      >
        <img src="../../public/img/1200px-Sinarmas-Logo.png" alt="SinarMas Logo" />
      </a>
      <a
        href="https://www.bca.co.id/"
        target="_blank"
        class="partner-logo"
      >
        <img src="../../public/img/logo_BCA.png" alt="BCA Logo" />
      </a>
    </div>
  </section>