<section class="layanan-kampus">
    <h2>Layanan Kampus</h2>
    <div class="layanan-grid">
      <a href="https://ejournal.uksw.edu/aiti" class="layanan-item">
        <img src="img/link_aiti.png" alt="AITI" />
      </a>
      <a href="https://library.uksw.edu" class="layanan-item">
        <img src="img/link_library.png" alt="Library" />
      </a>
      <a href="https://siasat.uksw.edu/" class="layanan-item">
        <img src="img/link_siasat.png" alt="SIASAT" />
      </a>
      <a href="http://online.fti.uksw.edu/" class="layanan-item">
        <img src="../../public/img/link_sita.png" alt="SITA" />
      </a>
      <a href="https://ejournal.uksw.edu/itexplore" class="layanan-item">
        <img src="img/it-explore.jpg" alt="IT Explore" />
      </a>
    </div>
  </section>