<section class="pengumuman">
    <h2>Pengumuman</h2>
    <div class="card-container">
      <div class="card">
        <img
          src="../../public/img/Picture111.jpg"
          alt="Gambar Pengumuman 1"
          class="card-image"
        />
        <div class="card-content">
          <h3>Diskomvision 2024</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
            do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <a href="#" class="btn-read-more">Read More</a>
        </div>
      </div>
      <div class="card">
        <img
          src="../../public/img/Picture12.jpg"
          alt="Gambar Pengumuman 2"
          class="card-image"
        />
        <div class="card-content">
          <h3>Judul Pengumuman 2</h3>
          <p>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat.
          </p>
          <a href="#" class="btn-read-more">Read More</a>
        </div>
      </div>
      <div class="card">
        <img
          src="img/Picture13.jpg"
          alt="Gambar Pengumuman 3"
          class="card-image"
        />
        <div class="card-content">
          <h3>Judul Pengumuman 3</h3>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur.
          </p>
          <a href="#" class="btn-read-more">Read More</a>
        </div>
      </div>
    </div>
    <div class="btn-container">
      <a href="pengumuman.html" class="btn-selengkapnya">Selengkapnya</a>
    </div>
  </section>