<section class="teknik-informatika">
    <div class="container">
      <div class="ti-content">
        <h2>Teknik Informatika UKSW</h2>
        <p>
          Program Studi Teknik Informatika UKSW adalah program studi yang
          berfokus pada pengembangan teknologi informasi dan komputer.
          Kami menyediakan pendidikan berkualitas tinggi yang
          mempersiapkan mahasiswa untuk menjadi profesional IT yang
          kompeten dan inovatif. Dengan kurikulum yang up-to-date dan
          fasilitas modern, kami berkomitmen untuk menghasilkan lulusan
          yang siap menghadapi tantangan di era digital.
        </p>
      </div>
      <div class="ti-video">
        <div class="video-wrapper">
          <iframe
            src="https://www.youtube.com/embed/8e2l1ULOSjo"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </section>